.images {
  width: 133px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items {
  width: 50%;
  padding-top: 10px;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 10%;
}

.nav-items > ul > li {
  padding: 0 25px;
  margin: 10px 25px;
}
.body {
  padding: 10px;
  margin-top: 5px;
}

.res-card {
  width: 333px;
  height: 410px;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  background-color: #f0f0f0;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.images-container {
}
.res-card-img {
  width: 333px;
  height: 250px;
}
.rest-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}